.header img {
  height: 50px;
}

.dropdown-menu a.active {
  background: none;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-item.active, .dropdown-item:active {
    background: none !important;
}