.dashboard {
    margin-top: 100px;
}

.box {
    background-color: #21c7b4;
    background-image: linear-gradient(160deg, #21c7b4 0%, #6d0720 100%);
    color: #FFF8EC;
    width: 300px;
    height: 120px
}

